.slideshow {
    overflow: hidden;
    position: relative;
    min-width: 960px;
    height: 465px;
}

.slideshow img{
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -800px;
}

.page-header{
    background-color: 'white';
    position: absolute;
    width: 100%;
    min-width: 960px;
}
.page-header.sticky {
    position:fixed;
    top:0;
}
.page-header > .inner{
    margin:auto;
    width:960px;
}
.work-section .tabs-nav{
    float:left;
    position: relative;
}
.work-section .tabs-nav a{
    display: block;
    padding: 0 1.36em;
    position: relative;
}
.work-section .tabs-nav a:hover,
.work-section .tabs-nav a.active{
    background-color: brown;
    color:cyan;
}

.work-section .tabs-nav a.active:after{
    content:"";
    position: absolute;
}

.work-section .section-body{
    height:400px;
    position: relative;
}